<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="ru.javawebinar.**.repository.jdbc"/>
    <context:component-scan base-package="ru.javawebinar.**.service"/>
    <context:component-scan base-package="ru.javawebinar.**.web"/>

<!--
    <bean class="ru.javawebinar.topjava.web.meal.MealRestController" id="mealRestController">
        <constructor-arg ref="mealService"/>
    </bean>

    <bean class="ru.javawebinar.topjava.service.MealService" id="mealService">
        <constructor-arg ref="inMemoryMealRepository"/>
    </bean>

    <bean class="ru.javawebinar.topjava.repository.inmemory.InMemoryMealRepository" id="inMemoryMealRepository"/>

    <bean class="ru.javawebinar.topjava.web.user.AdminRestController" id="adminRestController">
        <constructor-arg ref="userService"/>
    </bean>

    <bean class="ru.javawebinar.topjava.web.user.ProfileRestController" id="profileRestController">
        <constructor-arg ref="userService"/>
    </bean>

    <bean class="ru.javawebinar.topjava.service.UserService" id="userService">
        <constructor-arg ref="inmemoryUserRepository"/>
    </bean>

    <bean class="ru.javawebinar.topjava.repository.inmemory.InMemoryUserRepository" id="inmemoryUserRepository"/>
-->

</beans>